<div class="card">
    <div class="card-header">
        Change password
    </div>

    <div class="card-block">
        <div *ngFor="let error of errors">
            <label class="error">{{error}}</label>
        </div>
        <form #changePasswordForm="ngForm" (submit)="changePassword()" novalidate>
            <div class="form-group">
                <label>Old password</label>
                <input ngControl="oldPassword" #oldPassword type="password" id="oldPassword" name="oldPassword" [class.error]="!oldPassword.valid"
                    class="form-control" placeholder="Old password" />
                <label *ngIf="!oldPassword.valid && oldPassword.touched" class="form-control-feedback">
                            Old password is required
                        </label>
            </div>
            <div class="form-group">
                <label>New password</label>
                <input ngControl="newPassword" #newPassword type="password" id="newPassword" name="newPassword" [class.error]="!newPassword.valid"
                    class="form-control" placeholder="New password" />
                <label *ngIf="!newPassword.valid && newPassword.touched" class="form-control-feedback">
                            New password is required
                        </label>
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input ngControl="confirmPassword" #confirmPassword type="password" id="confirmPassword" name="confirmPassword" [class.error]="!confirmPassword.valid"
                    class="form-control" placeholder="Confirm password" />
                <label *ngIf="!confirmPassword.valid && confirmPassword.touched" class="form-control-feedback">
                            Confirml password is required
                        </label>
            </div>
            <button class="btn btn-primary pull-right" [disabled]="!changePasswordForm.valid">Change password</button>
        </form>
    </div>
</div>